<!DOCTYPE html>
<html style="margin: 0 25%">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection">
    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/materialize.js"></script>
    {% block head %}{% endblock %}
</head>
{% block nav %}{% endblock %}
<body>
    {% block body %}{% endblock %}
</body>
<script>
$(document).ready(function(){
    $('.tooltipped').tooltip();
  });</script>
</html>