{% extends 'Nav/index.html' %}
{% block head %}
<title>DRDO: Messages</title>
{% endblock %}

{% block body %}
<div class="container" style="font-size: 20px;">
    <h1>Messages</h1>
    <a id="addIcon" class="btn-floating btn-large waves-effect waves-light teal btn tooltipped" data-position="bottom"
        data-tooltip="Add a Message"><i class="material-icons" onclick="Add(true)">add</i></a>
    <a id="deleteIcon" class="btn-floating btn-large waves-effect waves-light teal btn tooltipped"
        data-position="bottom" data-tooltip="Delete a Message" style="display: none;"><i class="material-icons"
            onclick="Add(false)">delete</i></a>
    <!-- <a id="deleteIcon" class="btn-large teal waves-effect waves-light tooltipped" data-position="bottom"
        onclick="Add(false)" data-tooltip="Delete a Message" style="display: none;width: 20%;"><i
            class="material-icons right">delete</i></a> -->
    <div class="card" id="Form" style="display: none;">
        <div class="card-content">
            <form class="col s12" action="/messages" method="POST">
                <div class="input-field col s6">
                    <input id="recipient" name="recipient" type="text" class="validate">
                    <label for="recipient">Recipient User ID</label>
                </div>
                <div class="input-field col s6">
                    <input id="title" name="title" type="text" class="validate" value="From {{empId}}: ">
                    <label for="title">Title</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="content" name="content" class="materialize-textarea">
                        &#13;&#10;&#13;&#10;&#13;&#10;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CPU:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RAM:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PSU:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keyboard:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mouse:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UPS:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Printer:&nbsp;&nbsp;
                        &#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scanner:&nbsp;&nbsp;
                        &#13;&#10;Regards
                        &#13;&#10;{{empId}}
                    </textarea>
                    <label for="content">Content</label>
                </div>
                <div style="text-align: center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Send
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% if msg==[] %}
        <div class="card">
            <div class="card-content">
                <h4 class="marginTop0">No Messages</h4>
            </div>
        </div>
    {% else %}
        {% for item in msg %}
        <div class="card">
            <div class="card-content">
                <h4 class="marginTop0">{{item.title}}</h4>
                <p>{{item.messages}}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
<script>
    M.AutoInit();

    function Add(Bool) {
        if (Bool) {
            document.getElementById('addIcon').style.display = 'none';
            document.getElementById('deleteIcon').style.display = 'block';
            document.getElementById('Form').style.display = 'block';
        } else {
            document.getElementById('deleteIcon').style.display = 'none';
            document.getElementById('Form').style.display = 'none';
            document.getElementById('addIcon').style.display = 'block';
            document.getElementById('title').value = "From {{empId}}: ";
            document.getElementById('content').value = '\n\n\n\n \n     CPU:  \n\n     RAM:  \n\n     PSU:  \n\n     Display:  \n\n     Keyboard:  \n\n     Mouse:  \n\n     UPS:  \n\n     Printer:  \n\n     Scanner:  \n\nRegards\n\n{{empId}}';
            $('input#title, textarea#content').characterCounter();
        }
    }

    $(document).ready(function () {
        $('input#title, textarea#content').characterCounter();
    });
</script>
<style>
    .marginTop0 {
        margin-top: 0;
    }
</style>
{% endblock %}